@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }
  body { -webkit-tap-highlight-color: transparent; }
  img { user-select: none; }
}

@layer utilities {
  .safe-bottom { padding-bottom: env(safe-area-inset-bottom); }
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
